<div class="row">
  <div class="col-md-12"><h3>Job details</h3></div>
</div>
<div class="row margin">
  <div class="col-md-12"><span>Details for {{selectedJob.status}} <strong>Execution</strong></span></div>
</div>

<div class="row margin ">
  <div class="col-md-7">
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr>
          <th>Input File</th>
          <td>{{ selectedJob.fileName }}</td>
        </tr>
        <tr>
          <th>Start Date</th>
          <td>{{ selectedJob.date }}</td>
        </tr>
        <tr>
          <th>Start Time</th>
          <td>{{ selectedJob.start }}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{ selectedJob.duration }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ selectedJob.status }}</td>
        </tr>
        <tr *ngIf="isSucess()">
          <th>Output Files</th>
          <td>{{ selectedJob.files  }}</td>
        </tr>
        <tr *ngIf="!isSucess()">
          <th>Exit Message</th>
          <td>{{ selectedJob.exitMessage }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

