<div class="row">
  <div class="col-md-12"><h3>Job details</h3></div>
</div>
<div class="row margin">
  <div class="col-md-12"><span>Details for {{selectedJob?.status}} <strong>Execution</strong></span></div>
</div>

<div class="row margin ">
  <div class="col-md-7">
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr>
          <th>Input File</th>
          <td>{{ selectedJob?.inputFileName }}</td>
        </tr>
        <tr>
          <th>Start Date</th>
          <td>{{ selectedJob?.startDate }}</td>
        </tr>
        <tr>
          <th>Start Time</th>
          <td>{{ selectedJob?.startTime }}</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{ selectedJob?.duration }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ selectedJob?.status }}</td>
        </tr>
        <tr *ngIf="selectedJob && isSuccess()">
          <th>Output Files</th>
          <td>{{ selectedJob.output }}</td>
        </tr>
        <tr *ngIf="selectedJob && !isSuccess()">
          <th>Exit Message</th>
          <td>{{ selectedJob.exitMessage }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

